* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


body { 
    background-color: #F6F6F6;
    margin: 0px;
    padding: 0px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;

    position: fixed;
    width: calc(100% - 80px);
    left: 0;
    top: 0;


    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

header #nav-panel {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    font-weight: 500;

}

#nav-panel div{
    font-weight: 500;
    color: #373745;

}

#nav-panel .active {

    background: #60C2AA;
    border-radius: 200px;
    padding: 4px 12px;
    color: white;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#main-container {
    margin-top: 64px;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
}

#subject-list {

    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    width: 500px;

    

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;


}

#subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: #373745;
    margin: 0px;

}

#subject-list > .container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

}

#subject-list > .container > .subject-container {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

#subject-list .subject-info { 

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

#subject-list .subject-icon {
    width: 24px;
    height: 24px;
}


#subject-list .subject-name{

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;

}


#subject-list .subject-percent {

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}



#game-container {
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}


#game-time {

    width: fit-content;
    padding: 24px;

    background: #EDEDED;
    border-radius: 12px;

    
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    
    letter-spacing: 0.25px;

    color: #373745;

}


#game-board{

    width: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

#game-board .cell{

    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 218.33px;
    height: 218.33px;

    background: #FFFFFF;
    border-radius: 12px;

    width: 218.33px;
    height: 218.33px;

}

#game-step {
    width: 400px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #373745;
    

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    

    letter-spacing: 0.15px;


    color: #FFFFFF;
}

#game-step img{

    width: 24px;
    height: 24px;
}

#chat-container{
    width: 412px;
    
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    margin-bottom: 88px;
    align-self: flex-end;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    color: #373745;


}

.msgs-container {

    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}

.msg-container {
    max-width: 352px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    background: #FFFFFF;
    

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
   
    
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
    width: 352px;
}

#chat-container .msg-header{

    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;

    width: -webkit-fill-available;

}


#chat-container .time{
    color: #898993;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    
}

.subject-name {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: #60C2AA;
}
.subject-name.zero {
    color: #E38BAC;
}

.msg-interactive-elements {
    

    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: 100%;
}

.msg-interactive-elements button {
    

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 12px;
    gap: 8px;

    width: 48px;
    height: 48px;

    background: #60C2AA;
    border-radius: 12px;
}

.msg-interactive-elements textarea {
    resize: none;
    width: 100%;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    

    box-sizing: border-box;

    padding: 12px 20px;
    gap: 8px;

    

    background: #FFFFFF;
    
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    font-size: 16px;
    line-height: 24px;
    
    letter-spacing: 0.24px;

    color: #373745;
}


#main-rating{

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 144px;
}

#rating-panel{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px 32px;
    gap: 24px;

    background: #FFFFFF;


    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

#rating-panel h1 {

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0px;
}

.info-panel {

    font-weight: 500;
}

#player-achievements {

    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    border-spacing: 0px;
}

#player-achievements tr {
    
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    border-spacing: 10px 0px;
}

.info-panel td {

    padding: 12px 8px;
}

.player-data td {

    padding: 12px 8px;
}

.player-data td:first-child {

    min-width: 440px; 
}

.player-data td:nth-child(n + 2):nth-child(-n + 4) {
    
    min-width: 108px; 
}

.player-data td:last-child {

    min-width: 118px; 
} 

.player-data td:nth-child(3){

    color: #69B849;
}

.player-data td:nth-child(4){

    color: #E93E3E;
}


#main-auth {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;

}

#auth-model {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;

    width: 400px;

}

#auth-model h1 {

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0px;


    color: #373745;
}

#auth-data {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    padding: 0px;
    gap: 12px;

}


#auth-data .auth{

    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
    
    padding: 12px 20px;
    gap: 8px;

    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    color: #373745

}


#auth-button{

    

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    
    letter-spacing: 0.24px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-direction: column;

    
    
}

#auth-button button {
    padding: 12px 20px;
    gap: 8px;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;

}

.activePlayers {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 144px;

}

.activePlayers-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;

    background: #FFFFFF;

    width: 781px;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.activePlayers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    align-self: stretch

}

.activePlayers-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    justify-content: space-between;
    align-self: stretch;

}

.title-block{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;


}

.activePlayers-header-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    background: #FFFFFF;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 16px;
    background: #FFFFFF;
    justify-content: space-between;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 80px;
    color: white
}

.status-cell {
    
    padding: 4px 12px;
    background: #A8D37F;
    border-radius: 6px;
}


.active-button {
    padding: 12px 20px;
    gap: 8px;

    background: #60C2AA;
    border-radius: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

}

.switch-input{
    height: 0;
    width: 0;
    visibility: hidden;
}
    
.switch-slider {
    cursor: pointer;
    text-indent: -9999px;
    width: 33px;
    height: 14px;
    background: #DCDCDF;
    display: block;
    border-radius: 100px;
    position: relative;
}
    
.switch-slider:after {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #F7F7F7;
    border: 1px solid rgba(137, 137, 147, 0.2);
    border-radius: 90px;
    transition: 0.3s;
}
    
.switch-input:checked + .switch-slider {
    background: #60c2aa90;
}

.switch-input:checked + .switch-slider:after {
    left: calc(100% );
    transform: translateX(-100%);
    background: #3BA189;
}



.container-history{

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 144px;
}

.list-history{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px 32px;
    gap: 24px;
    width: auto;

    background: #FFFFFF;


    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.title-block {

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0px;
}

.info-panel {

    font-weight: 500;
}

.players-history {

    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    border-spacing: 0px;
}

.players-history tr {
    
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    border-spacing: 10px 0px;
}


.history-data td:first-child{
    display: flex;
    padding: 16px 16px;
    gap: 12px;
}

.game-results div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.player-one{
    min-width: 250px;
}

.against {
    font-weight: 700;
}

.info-panel td {

    padding: 8px;
}

.history-data td:first-child {

    min-width: 678px;
}

.history-data td:nth-child(n + 2):nth-child(-n + 2) {
    
    min-width: 160px; 
    padding: 12px 24px 12px 8px;
}

.history-data td:last-child {

    min-width: 120px; 
    padding: 8px;
} 


.main-listOfPlayers{

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 144px;
}

.list-panel{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px 32px;
    gap: 24px;
    width: auto;

    background: #FFFFFF;


    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.head-list-panel{
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}


.head-list-panel h1{

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0px;
}

.info-panel-list {

    font-weight: 500;
}

.players-list {

    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    border-spacing: 0px;
}

.players-list tr {
    
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    border-spacing: 10px 0px;
}

.info-panel-list td {

    padding: 12px 16px;
}
.info-panel-list td:first-child {

    padding: 12px 16px 16px 8px;
}

.player-list td {

    padding: 12px 16px;
}

.player-list td:first-child {

    min-width: 424px;
    padding: 16px 16px 16px 8px;
}

.player-list td:nth-child(2) {

    min-width: 92px;
}

.player-list td:nth-child(3) {

    text-align: center;
}


.player-list td:nth-child(4) {

    min-width: 136px;
}

.player-list td:nth-child(5) {

    min-width: 144px;
}

.player-list td:nth-child(6) {

    min-width: 144px;
}

.btn-list {
    background-color: #69B849;
}

.player-list .zab{
    background: #A8D37F;
    padding: 4px 12px;
    border-radius: 6px;
    text-align: center;
}


.createPlayer {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;

}

.create-panel {

    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px;
    gap: 20px;

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;

    width: 400px;

}

.exit-panel {
    text-align: right;
}

.create-panel h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    text-align: center;
}

.create-panel p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #373745;
    letter-spacing: 0.24px;
    margin: 0;

}

.fio-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.age-gender-set {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

}

.fio-set input{
    width: -webkit-fill-available;
}

.age-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.age-set input {
    width: 72px;
}

.gender-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

}

.add-player {
    color: white;
}
