<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/html" href="/css/style.css" />

</head>

<body>
    <div id="main-auth">
        <div id="auth-model">
            <div id="dog-icon"><img src="/img/dog.svg" alt=""></div>
            <h1>Войдитe в игру</h1>
            <form method="POST" action="/auth">
                <div id="auth-data">
                
                    <input class="auth login" placeholder="Логин" type="text" name="login">
                        
                    <input class="auth password" type="password" placeholder="Пароль" name="password">
                    
                </div>
                <div id="auth-button"><input type="submit" value="Войти"></input></div>

            </form>
        </div>
    </div>
    <script>
    </script>

</body>
