<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/html" href="/css/style.css" />

</head>

<body>
    <header>
        <div id="logo"><img src="/img/logo.svg"/></div>
        <div id="nav-panel">
            <div>Игровое поле</div>
            <div class="active">Рейтинг</div>
            <div>Активные игроки</div>
            <div>История игр</div>
            <div>Список игроков</div>
        </div>
        <button><img src="/img/signout.svg"/></button>

    </header>
    <div id="main-rating">
        <div id="rating-panel">
            <h1>Рейтинг игроков</h1>
            <table id="player-achievements">
                <tr class="info-panel">
                    <td>ФИО</td>
                    <td>Всего игр</td>
                    <td>Победы</td>
                    <td>Проигрыши</td>
                    <td>Процент побед</td>
                </tr>
                <% if (ratingesPlayer.length) { %>
                    <% ratingesPlayer.forEach(({ fio, countGames, countWins, countDefeat, percentageWins}) => { %>
                    <tr class="player-data">
                        <td><%= fio %></td>
                        <td><%= countGames %></td>
                        <td><%= countWins %></td>
                        <td><%= countDefeat %></td>
                        <td><%= percentageWins %></td>
                    </tr>
                    <% }) %>
                <% } %>
            </table>

        </div>

    </div>


</body>

</html>