* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


body { 
    background-color: #F6F6F6;
    margin: 0px;
    padding: 0px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;

    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    top: 0;


    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

header #nav-panel {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    font-weight: 500;

}

#nav-panel div{
    font-weight: 500;
    color: #373745;

}

#nav-panel .active {

    background: #60C2AA;
    border-radius: 200px;
    padding: 4px 12px;
    color: white;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#main-container {
    margin-top: 64px;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
}

#subject-list {

    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    width: 500px;

    

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;


}

#subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: #373745;
    margin: 0px;

}

#subject-list > .container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

}

#subject-list > .container > .subject-container {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

#subject-list .subject-info { 

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

#subject-list .subject-icon {
    width: 24px;
    height: 24px;
}


#subject-list .subject-name{

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;

}


#subject-list .subject-percent {

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}



#game-container {
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}


#game-time {

    width: fit-content;
    padding: 24px;

    background: #EDEDED;
    border-radius: 12px;

    
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    
    letter-spacing: 0.25px;

    color: #373745;

}


#game-board{

    width: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

#game-board .cell{

    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 218.33px;
    height: 218.33px;

    background: #FFFFFF;
    border-radius: 12px;

    width: 218.33px;
    height: 218.33px;

}

#game-step {
    width: 400px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #373745;
    

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    

    letter-spacing: 0.15px;


    color: #FFFFFF;
}

#game-step img{

    width: 24px;
    height: 24px;
}

#chat-container{
    width: 412px;
    
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    margin-bottom: 88px;
    align-self: flex-end;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    color: #373745;


}

.msgs-container {

    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}

.msg-container {
    max-width: 352px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    background: #FFFFFF;
    

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
   
    
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
    width: 352px;
}

#chat-container .msg-header{

    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;

    width: -webkit-fill-available;

}


#chat-container .time{
    color: #898993;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    
}

.subject-name {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: #60C2AA;
}
.subject-name.zero {
    color: #E38BAC;
}

.msg-interactive-elements {
    

    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: -webkit-fill-available;
}

.msg-interactive-elements button {
    

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 12px;
    gap: 8px;

    width: 48px;
    height: 48px;

    background: #60C2AA;
    border-radius: 12px;
}

.msg-interactive-elements textarea {
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    

    box-sizing: border-box;

    padding: 12px 20px;
    gap: 8px;

    

    background: #FFFFFF;
    
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    font-size: 16px;
    line-height: 24px;
    
    letter-spacing: 0.24px;

    color: #373745;
}


#main-rating{

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 144px;
}

#rating-panel{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px 32px;
    gap: 24px;

    background: #FFFFFF;


    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

#rating-panel h1 {

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0px;
}

.info-panel {

    font-weight: 500;
}

#player-achievements {

    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    border-spacing: 0px;
}

#player-achievements tr {
    
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    border-spacing: 10px 0px;
}

.info-panel td {

    padding: 12px 8px;
}

.player-data td {

    padding: 12px 8px;
}

.player-data td:first-child {

    min-width: 432px; 
}

.player-data td:nth-child(n + 2):nth-child(-n + 4) {
    
    min-width: 108px; 
}

.player-data td:last-child {

    min-width: 118px; 
} 

.player-data td:nth-child(3){

    color: #69B849;
}

.player-data td:nth-child(4){

    color: #E93E3E;
}


#main-auth {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;

}

#auth-model {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;

    width: 400px;

}

#auth-model h1 {

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0px;


    color: #373745;
}

form {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    align-items: stretch;
    padding: 0px;
    gap: 20px;
}

#auth-data {

    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    align-items: stretch;
    padding: 0px;
    gap: 12px;

}


#auth-data .auth{

    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
    
    padding: 12px 20px;
    gap: 8px;

    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    color: #373745

}


#auth-button input{

    

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    
    letter-spacing: 0.24px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: stretch;
    width: -webkit-fill-available;
    flex-direction: column;

    padding: 12px 20px;
    gap: 8px;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;

    border-style: hidden;
    
    
}

#auth-button input:hover{
    cursor: pointer;
}
